services:
    _defaults:
        public: true

    Oro\Bundle\OAuth2ServerBundle\Controller\ClientController:
        arguments:
            - '%oro_oauth2_server.supported_grant_types%'
            - '@oro_oauth2_server.api_feature_checker'
        calls:
            - [setContainer, ['@Psr\Container\ContainerInterface']]
        tags:
            - { name: container.service_subscriber }

    Oro\Bundle\OAuth2ServerBundle\Controller\LoginController:
        calls:
            - [setContainer, ['@Psr\Container\ContainerInterface']]
        tags:
            - { name: container.service_subscriber }
